@model IEnumerable<PhotoSharingApplication.Models.Photo>

@foreach (var item in Model)
{


<div class=" photo-index-card ">




    <h3>"@item.Title"</h3>

    @if (item.PhotoFile != null)
    {
    <img class="photo-index-card-img" src="@Url.Action("GetImage", "Photo", new { id = item.PhotoID })" />
    }
    <div class="photo-metadata">


        <p>
            Created By: @Html.DisplayFor(model => item.UserName)
        </p>

        <p>
            Created On: <span classe=" display-field ">  @Html.DisplayFor(model => item.CreatedDate)
                        </span>
        </p>
    </div>
    <span classe="display-label">Créé par @item.UserName</span><br />

    @Html.ActionLink("Display", "Display", new { id = item.PhotoID })
</div>
    }

